<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pizza Ipsum</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <header>
      <h1>Pizza Ipsum</h1>
    </header>
    <form class="paragraph" action="/paragraph" method="post">
      <label for="par-num">How many paragraphs?</label>
      <input type="text" name="par-num"></input>
      <button type="submit" name="id" value="{{id}}">Click!</button>
    </form>
    {{ #words }} {{ word }} {{ /words }}
  </body>
</html>
