<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pizza Ipsum</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <header>
      {{ #words }} {{ . }} {{ /words }}
    </header>
  </body>
</html>
